@model LoginDto
@{
    ViewData["Title"] = "Sign in";
}

<div class="container pt-5 d-flex justify-content-center align-items-center">
    <div class="card p-5 shadow-sm rounded" style="width: 34rem;">
        <h2 class="text-center fw-bold p-1 mb-3 border-bottom border-2">LOGIN</h2>

        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@ViewBag.ErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email address">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input asp-for="RememberMe" type="checkbox" class="form-check-input">
                <label class="form-check-label" for="RememberMe">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
            <p class="text-center mt-3">Don't have an account? <a asp-action="Register">Create account</a></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}