@model RegisterDto
@{
    ViewData["Title"] = "Register";
}

<div class="container py-3 d-flex justify-content-center align-items-center">
    <div class="card p-5 shadow-sm rounded" style="width: 34rem;">
        <h2 class="text-center fw-bold p-1 mb-3 border-bottom border-2">REGISTER</h2>
        <div asp-validation-summary="ModelOnly" role="alert" class="text-center text-danger"></div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">First Name</label>
                <input asp-for="FirstName" class="form-control" placeholder="First name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Last Name</label>
                <input asp-for="LastName" class="form-control" placeholder="Last name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Email address">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" id="password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Repeat password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign Up</button>
            <p class="text-center mt-3">Already have an account? <a asp-action="Login">Login here</a></p>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
